{% extends 'base.html' %}


{% block content %}

<h1>Inicio</h1>

<div class="Personaje">
  {% for Personaje in personajes %}
  <div class="container">
    <Div class="{{Personaje.vision}}">
      <img class="imagen-personajes" src="/media/images/{{ Personaje.img }}" alt="{{Personaje.nombre}}">
      <h1>{{Personaje.nombre}}</h1>
      <h2>Vision:</h2><p>{{Personaje.vision}}</p>
      <a href="{% url 'personaje' Personaje.pk %}">Ver Detalles</a>
    </Div>
  </div>
  {% endfor %}
</div>


{% endblock %}